.block-profile__add-button {
    align-self: center;
    padding: 0;
    margin: 0;
    min-width: 150px;
    min-height: 50px;
    background-image: url(../../../images/plus.svg);
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;

}

.block-profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 950px) {
    .block-profile__add-button {
        width: 282px;
        margin-top: 36px;
    }
}

@media screen and (max-width: 400px) {
    .block-profile__add-button {
        width: 100%;
        background-size: 16px 16px;
    }
}