.block-profile {
    width: 68.75%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 950px) {
    .block-profile {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 680px) {
    .block-profile {
        width: 90%;
    }
}
