.element {
    width: 32%;
    display: flex;
    flex-direction: column;
    border-radius: 3%;
    overflow: hidden;
    position: relative;
    font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 1250px) {
    .element {
        width: 48%;
    }
}

@media screen and (max-width: 680px) {
    .element {
        width: 100%;
    }
}