.form__email {
    margin: 50px 0 0;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #CCC;
    padding-bottom: 13px;
}

.form__email:focus {
    outline: none;
}