.header {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    width: 68.75%;
    margin-top: 45px;
    padding-bottom: 41px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    
}

@media screen and (max-width: 680px) {
    .header {
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    .header {
        width: 100%;
        margin-top: 28px;
        padding-bottom: 31.6px;
    }
}



